#4ad1ee blue color

body
{
	background-color: rgb(156,156,156);
	color: aqua;
}

h2
{
	font-size: 40px;
	font-family: Arial Black ;
	text-decoration: underline;
	color: aqua;
}

p
{
	font-size: 20px;
	font-family: Arials ;
	text-shadow: 2px 2px 4px aqua;